.container {
    /* background-color: beige; */
    background-image: url(https://img.freepik.com/free-photo/isolated-3d-rendering-question-mark-yellow-background-with-space-text_139143-256.jpg?size=626&ext=jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
