.container {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRbZy-M6XKMDLzoeXLTegb6l6JBlAU7Z9tkTdWkOB0eDFDM-WMm-5I9bwcqoFHMj6mcWrQ&usqp=CAU);
    background-repeat: no-repeat;
    background-size: cover;
}
